.paginationContainer {
  display: flex;
  list-style-type: none;

  .paginationItem {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: var(--black);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    font: var(--P3);
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: var(--main-color);
      color: var(--white);
      cursor: pointer;
        .arrow::before {
        border-right: 0.12em solid var(--white);
        border-top: 0.12em solid var(--white);
      }
    }

    &.selected {
      background-color: var(--main-color);
      color: var(--white);
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid var(--black);
        border-top: 0.12em solid var(--black);
      }
 
      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }

    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid var(--dark-grey);
        border-top: 0.12em solid var(--dark-grey);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
